#social-buttons2-15 .mbr-header__text {
  text-align: right;
}
#msg-box3-1d .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#social-buttons2-1f .mbr-header__text {
  text-align: right;
}
#features1-s .mbr-section-title .mbr-header__text {
  font-size: 48px;
}
#msg-box3-1e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-11 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-11 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#form1-h .mbr-header__text {
  font-size: 32px;
}
#social-buttons2-1g .mbr-header__text {
  text-align: right;
}
